@{
    ViewBag.Title = "About";
    ViewBag.Message = "Azure Music by Thai Huynh";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is an ASP.NET app used by record labels to manage artists, music, etc.</p>