@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Developer Information";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Full Name: Thai Huynh<br />
    <abbr title="Developer's Website">Website:</abbr>
    <a href="https://www.thaigta.com/">www.thaigta.com</a>
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:thaitdot@gmail.com">thaitdot@gmail.com</a><br />
</address>